<div class="main-div">
  <div class="container">
    <div class="left">
      <div class="header">
        <h2 class="animation a1">Create Warehouse</h2>
        <h4 class="animation a2">Please enter the information in the fields bellow</h4>
      </div>
      <div class="form">
        <input type="email" class="form-field animation a3" placeholder="Warehouse Id">
        <input type="password" class="form-field animation a4" placeholder="Address">
        <input type="password" class="form-field animation a4" placeholder="Altitude">
        <input type="password" class="form-field animation a4" placeholder="Latitude">
        <input type="password" class="form-field animation a4" placeholder="Longitude">
        <input type="password" class="form-field animation a4" placeholder="Description">
        <button class="animation a6">CREATE</button>
      </div>
    </div>
    <div class="right"></div>
  </div>
</div>
