<div *ngIf="isAuth">

    <div class="filteringDiv">
        <mat-form-field class="inputFiltro" appearance="fill">
            <mat-label>Filter</mat-label>
            <input  matInput placeholder="Filter" (keyup)="filterSearch($event)">
        </mat-form-field>

        <mat-form-field class="opcoes" appearance="fill">
            <mat-label>Filter Option</mat-label>
            <mat-select placeholder="Option" (selectionChange)="changeOption($event)">
                <mat-option *ngFor="let option of options" [value]="option.id">
                    {{option.choice}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <table mat-table matSort [dataSource]="dataSource" class="tripTable">

        <ng-container matColumnDef="tripID">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> TripID
            </th>
            <td mat-cell id="tripID" *matCellDef="let trip">{{trip.tripID}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
            <td mat-cell id="date" *matCellDef="let trip">{{trip.date}}</td>
        </ng-container>

        <ng-container matColumnDef="pathIDlist">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Paths</th>
            <td mat-cell id="pathIDlist" *matCellDef="let trip">
                <ng-container *ngFor="let pathIDlist of trip.pathIDlist">
                    {{pathIDlist}}
                    <br>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="truckID">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>TruckID</th>
            <td mat-cell id="truckID" *matCellDef="let trip">{{trip.truckID}}</td>
        </ng-container>

        <ng-container matColumnDef="deliveryIDlist">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Deliveries</th>
            <td mat-cell id="deliveryIDlist" *matCellDef="let trip">
                <ng-container *ngFor="let deliveryIDlist of trip.deliveryIDlist">
                    {{deliveryIDlist}}
                    <br>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator *ngIf="dataSource.filteredData != undefined" #paginator [length]="dataSource.filteredData.length"
        [pageSizeOptions]="[3, 1, 10]" showFirstLastButtons></mat-paginator>
</div>