<html *ngIf="isAuth">

<body>

  <div class="row">
    <div class="col-3 col-s-3 menu">
      <ul>
        <li (click)="goToCreateWarehouse()">Create Warehouse</li>
        <li (click)="goToCreateDelivery()">Create Delivery</li>
        <li (click)="goToGetWarehouseById()">Consult Warehouse</li>
        <li (click)="goToGetDelivery()">Consult Deliveries</li>
      </ul>
    
    </div>

    <div class="col-6 col-s-9">
      <h1>Warehouse Manager Menu</h1>
      <p>On this page the warehouse manager can create warehouses and deliveries.</p>
    </div>

    <div class="col-3 col-s-12">
      <div class="aside">
        <img src="./assets/gifs-de-delivery-9.gif">

      </div>
    </div>
  </div>

</body>

</html>