<div class="main-div">
    <div class="container">
        <div class="left">
            <div class="header">
                <h2 class="animation a1">Create a Delivery</h2>
                <h4 class="animation a2">Please enter the information in the fields bellow</h4>
            </div>
            <div class="form">
                <input type="text" class="form-field animation a3" placeholder="Delivery ID">
                <input type="text" class="form-field animation a4" placeholder="Delivery Date">
                <input type="text" class="form-field animation a4" placeholder="Load Time">
                <input type="text" class="form-field animation a4" placeholder="Unload Time">
                <input type="text" class="form-field animation a4" placeholder="Destination">
                <input type="text" class="form-field animation a4" placeholder="Delivery Mass">
                <button class="animation a6">CREATE</button>
            </div>
        </div>
        <div class="right"></div>
    </div>
</div>