<div *ngIf="isAuth">
    <table mat-table [dataSource]="dataSource" class="tripsTable">

        <tr mat.header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="tripID">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell id="tripID" *matCellDef = "let trip">{{trip.tripID}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Trip Date</th>
            <td mat-cell id="date" *matCellDef="let trip">{{trip.date}}</td>
        </ng-container>

        <ng-container matColumnDef="pathIDlist">
            <th mat-header-cell *matHeaderCellDef>List of Paths</th>
            <td mat-cell id="pathIDlist" *matCellDef="let trip">{{trip.pathIDList}}</td>
        </ng-container>

        <ng-container matColumnDef="truckID">
            <th mat-header-cell *matHeaderCellDef>Truck</th>
            <td mat-cell id="truckID" *matCellDef="let trip">{{trip.truckID}}</td>
        </ng-container>

        <ng-container matColumnDef="deliveryIDlist">
            <th mat-header-cell *matHeaderCellDef>List of Deliveries</th>
            <td mat-cell id="deliveryIDlist" *matCellDef="let trip">{{trip.deliveryIDList}}</td>
        </ng-container>
    </table>
    <mat-paginator *ngIf="dataSource.data != undefined"
        #paginator
        [length] = "dataSource.data.length"
        [pageSizeOptions]="[1, 5, 10]"
        showFirstLastButtons
></mat-paginator>
</div>