<mat-card>
    <mat-card-title>Fleet Manager</mat-card-title>
    <mat-card-subtitle>ITS TRUCK MONTH!!</mat-card-subtitle>
    <mat-card-actions>
      <!-- Create mat-fab button with size 10 -->
      
      <button mat-raised-button style="width: 10em; height: 10em;" (click)="goToCreateTruck()" color="warn" aria-label="Example icon button with a home icon">
        Create Truck
      </button>

      <mat-form-field appearance="fill">
        <mat-label>Truck</mat-label>
        <select matNativeControl [(ngModel)]="selectedTruckOption" (ngModelChange)="onTruckSelected($event)" name="truck">
          <option value="" selected disabled></option>
          <option *ngFor="let truck of truckList;" [value]="truck.truckID">
            {{truck.truckID}} 
          </option>
        </select>
      </mat-form-field>
      <!-- display selectedTruck information -->
      <mat-card *ngIf="selectedTruckOption">
        <mat-card-title>{{selectedTruckOption}}</mat-card-title>
        <mat-card-subtitle>Truck Information</mat-card-subtitle>
        <mat-card-content>
          <p>TruckID: {{selectedTruck.truckID}}</p>
          <p>Tare: {{selectedTruck.tare}}</p>
          <p>Capacity: {{selectedTruck.capacity}}</p>
          <p>Maximum Battery Capacity: {{selectedTruck.maxBatteryCapacity}}</p>
          <p>Autonomy: {{selectedTruck.autonomy}}</p>
          <p>Fast Charge Time: {{selectedTruck.fastChargeTime}}</p>
        </mat-card-content>
        
        <button mat-raised-button style="width: 10em;" (click)="goToEditTruck(selectedTruck.truckID)" color="primary" aria-label="Example icon button with a home icon">
          Edit Truck
        </button>
        <button mat-raised-button style="width: 10em;" (click)="deleteTruck(selectedTruck.truckID)" color="primary" aria-label="Example icon button with a home icon">
          Delete Truck
        </button>
      </mat-card>
      
     


      
      
    </mat-card-actions>
  </mat-card>