.main-div{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sec-div{
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .createButton{
    position: flex;
    top: 50%;
    height: 40px;
    width: 90px;
  
  }
  
  .createButtonDiv{
    width: fit-content;
    margin: auto;
  }