<div class="main-div" *ngIf="isAuth==false">
    
    <mat-card >
            <mat-card-header>
                <mat-card-title>
                    <h1>Log In</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class ="sec-div">
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <br>
                    
                    <label class="container">I agree with the terms and conditions
                        <input type="checkbox" (change)="isAvailable($event)">
                        <span class="checkmark"></span>
                    </label>

                    <button class="button" *ngIf="!isDisabled" type="submit" >Log In</button>

                </form>    
                <div id="googleButtonDiv">   
                </div>
            </mat-card-content>

    </mat-card>
</div>
    