<div class="main-div">
    <mat-card >
            <mat-card-header>
                <mat-card-title>
                    <h1>Log In</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class ="sec-div">
                <form (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" type="submit" >Log In</button>
                </form>    
            </mat-card-content>
    </mat-card>
</div>
    