<mat-card>
  <mat-card-actions>

    <mat-form-field appearance="fill">
      <mat-label>Warehouse</mat-label>
      <select matNativeControl [(ngModel)]="selectedWarehouseOption" (ngModelChange)="onWarehouseSelected($event)" name="warehouse">
        <option value="" selected disabled></option>
        <option *ngFor="let warehouse of warehouseList;" [value]="warehouse.id">
          {{warehouse.id}}
        </option>
      </select>
    </mat-form-field>
    <!-- display selectedWarehouse information -->
    <mat-card *ngIf="selectedWarehouseOption">
      <mat-card-title>{{selectedWarehouseOption}}</mat-card-title>
      <mat-card-subtitle>warehouse Information</mat-card-subtitle>
      <mat-card-content>
        <p>Warehouse Id: {{selectedWarehouse.id}}</p>
        <p>Address: {{selectedWarehouse.address}}</p>
        <p>Altitude: {{selectedWarehouse.altitude}}</p>
        <p>Latitude: {{selectedWarehouse.latitude}}</p>
        <p>Longitude: {{selectedWarehouse.longitude}}</p>
        <p>Description: {{selectedWarehouse.designation}}</p>
        <p>City Id: {{selectedWarehouse.city}}</p>
      </mat-card-content>
    </mat-card>
  </mat-card-actions>
</mat-card>

