<mat-toolbar color="primary">
    <button mat-icon-button color="secondary" (click)="goHome()" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>EletricGO</span>
    <span class="example-spacer"></span>

    <button mat-raised-button (click)="goToLMHome()" color="warn">
      Logistics Manager
    </button>

    <button mat-raised-button (click)="goToFMHome()" color="warn">
      Fleet Manager
    </button>
    
    <button mat-raised-button (click)="goToWMHome()" color="warn">
      Warehouse Manager
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
  